<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2><%= title %></h2>
    <form method="POST">
      <div class="form-group">
        <label for="first-name">First Name: </label>
        <input
          type="text"
          name="firstName"
          id="first-name"
          value="<%= invalidInput?.firstName %>"
          required
        />
      </div>
      <div class="form-group">
        <label for="last-name">Last Name: </label>
        <input
          type="text"
          name="lastName"
          id="last-name"
          value="<%= invalidInput?.lastName %>"
          required
        />
      </div>
      <div class="form-group">
        <label for="username">Username: </label>
        <input
          type="text"
          name="username"
          id="username"
          value="<%= invalidInput?.username %>"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password: </label>
        <input
          type="password"
          name="confirmPassword"
          id="confirm-password"
          required
        />
      </div>
      <div><%- include("partials/formErrors") %></div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a href="/"
        ><button type="button" class="btn btn-secondary">Go Back</button></a
      >
    </form>
  </body>
</html>
